<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Product List</title>
</head>
<body>
   <center> <h1>Product List</h1> </center>

   <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        

      </tr>
    </thead>
    <tbody>
        {% for i in dokan %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.name}}</td>
        <td>{{i.price}}</td>
    
      </tr>
       {% endfor %}
    </tbody>
  </table>
  
     
    
</body>
</html>