<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Regi</title>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
          </div>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>
</div>



    
</body>
</html>